### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_data, encoding="utf-8")

purchase_data.head()
purchase_data.describe()

unique_id = len(purchase_data ["SN"].unique())
print(unique_id)

576

## Player Count

* Display the total number of players

In [2]:

unique_id = len(purchase_data ["Item ID"].unique())
#counts = purchase_data["Item ID"].value_counts()

average_price = purchase_data["Price"].mean()
number_purchases = purchase_data["SN"].count()
total_revenue = purchase_data["Price"].sum()
summary_table = pd.DataFrame({
    "Number of Unique Purchases": [unique_id],
    "Average Price": [average_price],
    "Number of Purchases": [number_purchases],
    "Total Revenue": [total_revenue]
})
summary_table

,Number of Unique Purchases,Average Price,Number of Purchases,Total Revenue
0,183,3.050987,780,2379.77

In [3]:
female_players = purchase_data.loc[purchase_data["Gender"] == "Female"]
female_players = len(female_players["SN"].unique())
print(female_players)

male_players = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_players = len(male_players["SN"].unique())
print(male_players)

other_players= purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_players=len(other_players["SN"].unique())
print(other_players)

total = female_players + male_players + other_players
print(total)

81
484
11
576

In [4]:
summary_table = pd.DataFrame({
    " " : ["Male", "Female", "Other / Non-Disclosed"], 
    "Total Count": [male_players,female_players,other_players],
    "Percentage of Players": [male_players/total*100,female_players/total*100,other_players/total*100],
})
summary_table

                          Total Count  Percentage of Players
0                   Male          484              84.027778
1                 Female           81              14.062500
2  Other / Non-Disclosed           11               1.909722

In [5]:
purchase_count=purchase_data.groupby("Gender")["Purchase ID"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [6]:
average_purchase = purchase_data.groupby("Gender")["Price"].mean()
average_purchase

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [7]:
total_value = purchase_data.groupby("Gender")["Price"].sum()
total_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [8]:
average_price_gender = purchase_data.groupby("Gender")["Price"].mean()
average_price_gender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [9]:
total_purchase_value = purchase_data.groupby("Gender")["Price"].sum()
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [10]:
average_total = total_purchase_value/female_players
average_total

Gender
Female                    4.468395
Male                     24.291852
Other / Non-Disclosed     0.619630
Name: Price, dtype: float64

In [11]:
summary_table = pd.DataFrame({
    "Purchase Count": list(purchase_count),
    "Average Purchase Price": average_price_gender,
    "Total Purchase Value": total_purchase_value,
    "Avg Total Purchase per Person":(total_purchase_value/purchase_count),
})
summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

# Bins

In [12]:
purchase_data.Age.max()

45

In [13]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
group_labels = ["0-10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(purchase_data["Age"], bins, labels=group_labels).head()
purchase_data["Age"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_group = purchase_data.groupby("Age")
print(purchase_group["Age"].count())

Age
0-10      23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age, dtype: int64

In [14]:
purchase_group = pd.DataFrame({
    " " : ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"], 
    "Total Count": [23, 28, 136, 365, 101, 73, 41, 13],
    "Percentage of Players": [23/780*100, 28/780*100, 136/780*100, 365/780*100, 101/780*100, 73/780*100, 41/780*100, 13/780],
})
purchase_group

          Total Count  Percentage of Players
0    <10           23               2.948718
1  10-14           28               3.589744
2  15-19          136              17.435897
3  20-24          365              46.794872
4  25-29          101              12.948718
5  30-34           73               9.358974
6  35-39           41               5.256410
7    40+           13               0.016667

In [23]:
#df["Total Price Count"] = pd.cut(df["purchase_group"], bins, labels=group_labels) 

pc = purchase_data.SN.count()
app = purchase_data.groupby("Age")["Price"].mean()
tpv = purchase_data.groupby("Age")["Price"].sum()
atpp = purchase_data.groupby("SN")["Price"].sum()
app

Age
0-10     3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [34]:
print(atpp)

3.050987179487176

In [24]:
print(pc)

780

In [25]:
tpv

Age
0-10       77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [32]:
purchase_age = pd.DataFrame({
    " " : ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"], 
    "Purchase Count": purchase_group["Total Count"],
    "Average Purchase Price": [3.35, 2.9, 3.03, 3.05, 2.90, 2.93, 3.6, 2.9],
    "Total Purchase Value": purchase_group["Total Count"] * [3.35, 2.9, 3.03, 3.05, 2.90, 2.93, 3.6, 2.9],
    "Avg Total Purchase per Person": [3.35, 2.9, 3.03, 3.05, 2.90, 2.93, 3.6, 2.9],
})
purchase_age

,,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,3.35,77.05,3.35
1,10-14,28,2.90,81.20,2.90
2,15-19,136,3.03,412.08,3.03
3,20-24,365,3.05,1113.25,3.05
4,25-29,101,2.90,292.90,2.90
5,30-34,73,2.93,213.89,2.93
6,35-39,41,3.60,147.60,3.60
7,40+,13,2.90,37.70,2.90

# Top Spenders

In [61]:
top_spenders=purchase_data.groupby("SN")["Age"].max().head()
top_spenders

SN
Adairialis76    15-19
Adastirin33     35-39
Aeda94          15-19
Aela59          20-24
Aelaria33       20-24
Name: Age, dtype: object

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame